build/
out/
.vs/

*.user
*.suo
*.VC.db
*.VC.VC.opendb

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
tasks.txt
task_storage_test.txt
missing_tasks_file.txt
invalid_status_tasks.txt
duplicate_id_tasks.txt